<div class="reset-container">
    <h1>Reset password</h1>
    <p>Create a new password for your <a class="p-link" href="">Videoflix</a> account.</p>
    <div>
        <input [(ngModel)]="password1" type="password" class="p-input" placeholder="Enter a password">
        <input [(ngModel)]="password2" type="password" class="p-input" placeholder="Confirm password">
        @if(passwordDontMatch){
            <p class="errorMsg"><img src="img/warning.png" alt="">Passwords must match.</p>
        }
        @if (passwordChanged){
            <p class="black">Password has been changed, you are being redirected...</p>
        }
        @if (wrong){
            <p class="errorMsg">Something went wrong, your password could not be changed</p>
        }
    </div>
    <button [disabled]="password1 !== password2 || !password1 || !password2" class="btn" (click)="changeUserPassword()">Reset my password</button>
</div>