<section>
    <header>
        <img src="img/logo_only.png" alt="">
        <button class="btn" (click)="logout()"><img src="img/logout.png" alt="">Log Out</button>
    </header>

    <div class="video-preview" #previewThumbnail>
        <div class="trailer">
            <video #videotrailer class="trailer-video video-js" data-setup="{}"></video>
        </div>
        <img [src]="currentPreviewThumbnail" alt="">
        <button class="back-btn" (click)="closeMobilePreview()"><img src="img/arrow_back.png" alt="Back"></button>
    </div>

    <div class="info-container" #infoContainer>
        <div class="preview-info">
            <h1 #headline>{{ currentPreview.title }}</h1>
            <p class="description" #description>{{ currentPreview.description }}</p>
            <button #previewButton class="play-btn btn" (click)="playPreview(currentPreview.id)"><img src="img/play_arrow.png" alt=""> Play</button>
        </div>
    </div>

    <div class="videos" #allVideos>
        <div class="video-content">
            <h2>New on Videoflix</h2>
            <div class="thumbnails" #newOnVideoflix>
            </div>
        </div>
        <div class="video-content">
            <h2>Documentary</h2>
            <div class="thumbnails" #documentary>
            </div>
        </div>
        <div class="video-content">
            <h2>Drama</h2>
            <div class="thumbnails" #drama>
                
            </div>
        </div>
        <div class="video-content">
            <h2>Romance</h2>
            <div class="thumbnails" #romance>
            </div>
        </div>
    </div>
</section>
<router-outlet class="front"></router-outlet>