<div class="forgot-container">
    <h1>Forgot your password?</h1>
    <span>We will send you an email with instructions to reset your password</span>
    <input class="p-input" [(ngModel)]="email" type="email" name="emailReset" id="emailReset" placeholder="Email Adress">
    @if (wrongEmail){
        <p class="errorMsg">Wrong email, enter correct email address</p>
    }
    @if (passwordChanged){
        <span>Email has been sent, please check your Inbox or Junk-mail</span>
    }
    <button [disabled]="!email" class="btn" (click)="sendPasswordResetEmail()">Send Email</button>
</div> 