<div class="login-container">
    <h1>Log in</h1>
    <form action="">
        <input type="email" placeholder="Email Adress" class="p-input">
        @if(wrongEmail){
            <p class="errorMsg"></p>
        }
        <input type="password" name="login-pw" id="login-pw" placeholder="Password" class="p-input">
        @if(wrongPw){
            <p class="errorMsg"></p>
        }
    </form>
    <div class="remember-container">
        <input type="checkbox">
        <p class="remember">Remember Me</p>
    </div>
    <button [disabled]="" class="btn">Log in</button>
    <a href="" class="forgotpw">Forgot password?</a>
    <div class="signup-container">
        <p>New to Videoflix</p>
        <a href="">Sign Up now</a>
    </div>
</div>