<div class="login-container">
    <h1>Log in</h1>
    <form #loginForm="ngForm">
        <input type="email" placeholder="Email Adress" [(ngModel)]="email" name="email" class="p-input">
        @if(wrongEmail){
            <p class="errorMsg">This Email is not registered.</p>
        }
        @if(activatedMsg){
            <p class="errorMsg">Your account is not activated. Please follow the email we sent you.</p>
        }
        <input type="password" name="login-pw" id="login-pw" placeholder="Password" [(ngModel)]="password" name="password" class="p-input">
        @if(wrongPw){
            <p class="errorMsg">Password does not match the email!</p>
        }
    </form>
    <div class="remember-container">
        <input type="checkbox">
        <p class="remember">Remember Me</p>
    </div>
    <button [disabled]="!email || !password" (click)="login()" class="btn">Log in</button>
    <a href="welcome/forgot-password" class="forgotpw">Forgot password?</a>
    <div class="signup-container">
        <p>New to Videoflix</p>
        <a href="welcome/signup">Sign Up now</a>
    </div>

    <div class="activeError">
        <div class="red"></div>
        <img src="" alt="">
        <p></p>
        <div class="divider"></div>
        <button class="closeBtn"></button>

    </div>
</div>