.login-container{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    border-radius: 48px;
    gap: 32px;
    padding: 43px 56px;
    background-color: white;
}
h1{
    color: #2E3EDF;
    font-weight: 700;
    font-size: 48px;
    line-height: 62.5px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 32px;

    >div{
        position: relative;
        width: 100%;
        >input{
            width: 90%;
            border-radius: 12px;
        }
        >p{
            position: absolute;
        }
    }
}
.remember-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 4px;
    >input{
        border: 1px solid #2E3EDF;
        &:focus{
            outline: none;
        }
    }
    .remember{
        color: black;
    }
}
.forgotpw{
    color: #2E3EDF;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
    &:hover{
        color: #4855df;
    }
}
.signup-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
    >p{
        color: black;
        font-weight: 500;
        font-size: 18px;
        line-height: 23.44px;
    }
    >a{
        color: #2E3EDF;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 23.44px;
        &:hover{
            color: #4855df;
        }
    }
}

@media (max-width: 650px) {
    .login-container{
        width: calc(95% - 48px);
        padding: 43px 24px;
        gap: 22px;
    }
}
@media(max-width: 500px){
    form{
        gap: 24px;
        >div{
            display: flex;
            justify-content: center;
            >input{
                width: 80%;
            }
        }
    }
}
@media(max-width: 360px) {
    .signup-container{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}