<div class="login-container">
    <h1>Log in</h1>
    <form #loginForm="ngForm">
        <div>
            <input type="email" placeholder="Email Address" [(ngModel)]="email" name="email" class="p-input">
            @if(activated){
                <p class="black">Your account has been activated, please log in</p>
            }
        </div>
        <div>
            <input #passwordInput type="password" name="login-pw" id="login-pw" placeholder="Password" [(ngModel)]="password" name="password" class="p-input">
            <img src="img/visibility.png" alt="" (click)="showPassword()">
        </div>
    </form>
    <div class="remember-container">
        <input type="checkbox" [(ngModel)]="rememberMe">
        <p class="remember">Remember Me</p>
    </div>
    <button [disabled]="!email || !password" (click)="login()" class="btn">Log in</button>
    <a href="welcome/forgot-password" class="forgotpw">Forgot password?</a>
    <div class="signup-container">
        <p>New to Videoflix?</p>
        <a href="welcome/signup">Sign Up now</a>
    </div>
</div>
    <div class="errorPopup" #errorMsg>
        <div class="red"></div>
        <img src="img/exclamation.png" alt="">
        <span>{{ wrongMsg }}</span>
        <div class="divider"></div>
        <button (click)="closeErrorPopup()" class="closeBtn">
            <img src="img/close_small.png" alt="">
        </button>
    </div>
    <div class="errorPopup" #resendEmail>
        <div class="red"></div>
        <img src="img/exclamation.png" alt="">
        <span>Your account is not activated, check your Email-inbox or resend a new activation email</span>
        <button (click)="resendEmailActivationLink()" class="sendEmailBtn">Send Email</button>
        <div class="divider"></div>
        <button (click)="closePopup()" class="closeBtn">
            <img src="img/close_small.png" alt="">
        </button>
    </div>