.forgot-container{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 48px;
    padding: 43px 56px;
    gap: 32px;
    width: 520px;
    text-align: center;
    >span{
        width: 95%;
        color: black;
    }
}
h1{
    width: 90%;
    color: #2E3EDF;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}
input{
    width: 85%;
    border-radius: 12px;
}

@media(max-width: 660px){
    .forgot-container{
        padding: 43px 24px;
        width: calc(95% - 48px);
        >span{
            text-align: center;
        }
    }
}
@media(max-width: 430px){
    .forgot-container{
        >span{
            font-size: 16px;
        }
    }
    h1{
        font-size: 40px;
        line-height: 40px;
    }
}