footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    // position: absolute;
    padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}