<section #videoPlayer>
<header>
    <button class="backBtn"><img src="img/arrow_back.png" alt=""></button>
    <img src="img/logo_only.png" alt="">
</header>
<div class="videoplayer"></div>
<footer>
    <div class="timeline">
        <div class="timebar"></div>
        <div class="timedata"> 01:00:00</div>
    </div>
    <div class="button-container">
        <div class="play-buttons">
            <button><img src="img/play_arrow.png" alt=""></button>
            <button><img src="img/replay_10.png" alt=""></button>
            <button><img src="img/forward_10.png" alt=""></button>
            <button><img src="img/volume_up.png" alt=""></button>
        </div>
        <h1>Movie Name</h1>
        <div class="screen-buttons">
            <button><img src="img/subtitles.png" alt=""></button>
            <button><img src="img/speed.png" alt=""></button>
            <button><img src="img/fullscreen.png" alt=""></button>
        </div>
    </div>
</footer>
</section>